/* More info Main */


position: absolute;
width: 433px;
height: 717px;
left: 774px;
top: 154px;

background: #E6D055;
border-radius: 15px;


/* More Rectangle 2 */


position: absolute;
width: 405px;
height: 687px;
left: 788px;
top: 169px;

background: #A1A4BE;
border-radius: 15px;


/* Links Rectangle */


position: absolute;
width: 361px;
height: 167px;
left: 812px;
top: 683px;

background: #E3E1C7;
border-radius: 20px;


/* EXPERIENCE */


position: absolute;
width: 128px;
height: 26px;
left: 935px;
top: 559px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;

color: #000000;



/* Education Rectangle */


position: absolute;
width: 361px;
height: 161px;
left: 810px;
top: 391px;

background: #E3E1C7;
border-radius: 20px;


/* Experience Rectangle */


position: absolute;
width: 361px;
height: 69px;
left: 812px;
top: 586px;

background: #E3E1C7;
border-radius: 20px;


/* School:- Highlands College Qualifications HND in Software Eng (Current-2023) CS50 CS Harvard Uni (2021) ACCA FAB (2017-2018) CAIT SLT Training College (2017-2017) */


position: absolute;
width: 325px;
height: 126px;
left: 833px;
top: 412px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;

color: #000000;



/* Freelancer (Upwork) (Present) Wondershare Filmora SM Manager(2020-21) */


position: absolute;
width: 334px;
height: 46px;
left: 826px;
top: 598px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;

color: #000000;



/* ABOUT ME */


position: absolute;
width: 107px;
height: 26px;
left: 942px;
top: 181px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;

color: #000000;



/* About me Rectangle */


position: absolute;
width: 361px;
height: 151px;
left: 810px;
top: 208px;

background: #E3E1C7;
border-radius: 20px;


/* Name :- Ahamed Musthafa Careem Country:- Sri Lanka Age :- 20 “I’m a passionate programming student who considers myself as a teamplayer and a multitasker.” */


position: absolute;
width: 315px;
height: 133px;
left: 838px;
top: 216px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #000000;



/* EDUCATION */


position: absolute;
width: 116px;
height: 26px;
left: 939px;
top: 364px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;

color: #000000;



/* LINKS */


position: absolute;
width: 61px;
height: 26px;
left: 960px;
top: 657px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;

color: #000000;



/* LinkedIn :-https://www.linkedin.com/in/ahamed-careem-76b5b2215/ Github :-https://github.com/amcareem Instagram :-https://www.instagram.com/chilled_coder/ Twitter :-https://twitter.com/chilled_coder YouTube :-https://www.youtube.com/channel/UCWECr2jWWdxcghKkLbjY7cw Discord :-https://discord.com/channels/878990301182701668/878990735117004881 Quora :-https://www.quora.com/profile/Ahamed-Careem-1 */


position: absolute;
width: 357px;
height: 160px;
left: 829px;
top: 685px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;

color: #000000;
